.EditPost {
    /* background-color: lightgray; */
    width: 100%;
    max-width: 1000px;
    height: 600px;

}

.EditPost form {
    /* border: 1px solid red; */
    
}

.ImagesEdit {
    display: flex;
    border: 1px solid blue;

}

.LeftSideImages {
    width: 35%;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /* border: 1px solid green; */
}

.InputEditPost {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #27AE60;
    border-radius: 12px;
    padding: 0 8px;
    text-align: center;
    font-size: 24px;
}z

.MultipleImages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    /* border: 1px solid red; */
    height: 305px;
    width: 100%;
    margin-bottom: 80px;
    margin-left: 0;
}


.MultipleImages > div {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 5px;
    /* background-color: violet; */
    /* border: 1px solid black; */
  }
.MultipleImages > div > button {
   
    background-color: transparent;
    border: none;
    color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.MultipleImages > div > button > i {
   width: 10px;
   height: 10px;

}

.RightSideImages {
    
    /* border: 1px solid green; */
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ImageOne > img {

    width: 224px;
    height: 224px;
    margin-bottom: 8px;
   
}

.ImageOne {
    position: relative;
}
.ImageOne > p{
    position: absolute;
    background-color: white;
    top: 8px;
    right:8px;
    border: 1px solid #9FB578;
    border-radius: 16px;
    padding: 2px 5px 2px 5px;
    font-size: 14px;
}