.EditPost {
    /* background-color: lightgray; */
    width: 100%;
    max-width: 1000px;
    height: 600px;

}

@media (min-width: 850px) {
    .EditPost {
        width: 100%;
        max-width: 1000px;
        margin-left: 100px;
    }
    .ImageOne {
        display: flex;
        flex-direction: column;
        
    }

    .RightSideImages {
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 100px;
    }
}

@media (min-width: 1060px) {
    .EditPost {
        width: 100%;
        width: 90%;
        margin-left: 302px
    }
    .ImageOne {
        display: flex;
        flex-direction: column;
    }
    .RightSideImages {
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 100px;
    }
}


.ImagesEdit {
    display: flex;
    /* border: 1px solid blue; */

}

.LeftSideImages {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /* border: 1px solid green; */
}

.InputEditPost {
    margin: 15px 20px;
    width: 50%;
    border: 1px solid #27AE60;
    border-radius: 12px;
    padding: 0 8px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(242, 250, 242);
}

.FormEditPost {
    width: 100%;
    padding: 0 20px 60px 20px;
}

.MultipleImages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    /* border: 1px solid red; */
    max-height: 305px;
    width: 100%;
    margin-bottom: 80px;
    margin-left: 0;
}


.MultipleImages > div {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 5px;
    /* background-color: violet; */
    /* border: 1px solid black; */
  }
.MultipleImages > div > button {
   
    background-color: transparent;
    border: none;
    color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.MultipleImages > div > button > i {
   width: 10px;
   height: 10px;

}

.RightSideImages {
    
    /* border: 1px solid green; */
    width: 65%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-end;
}


.ImageOne {
    display: flex;
    flex-direction: column;
    position: relative;
}
.ImageOne > p{
    position: absolute;
    background-color: white;
    top: 8px;
    right:8px;
    border: 1px solid #9FB578;
    border-radius: 16px;
    padding: 2px 5px 2px 5px;
    font-size: 14px;
}