.CreatePost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    max-height: 840px;
    overflow-y: scroll;
    /* border: 1px solid blue */
}

@media (min-width: 850px) {
    .CreatePost {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        max-height: 840px;
        overflow-y: hidden;
        margin-left: 50px;
    }

}

@media (min-width: 1060px) {
    .CreatePost {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        max-width: 1000px;
        max-height: 840px;
        overflow-y: hidden;
        margin-left: 200px;
    }

}
.FormCreatePost {
    border: 1px solid #27AE60;
    width: 90%;
    margin-top: 20px;
    border-radius: 12px;
    padding: 14px;
    display: flex;
    flex-direction: column;
}

.SubmitCreatePost {
    background-color: #27AE60;
    border: 1px solid #50FA97;
    border-radius: 8px;
    margin: 4px;
    color: white;

}

