.EditProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    max-height: 840px;
    overflow-y: scroll;
    /* border: 1px solid blue; */
}

.UserContainer {
    border: 1px solid #27AE60;
    width: 90%;
    margin-top: 20px;
    border-radius: 12px;
    padding: 14px;
}

