
.plantCard {
    width: 90%;
    height: 160px;
    border: 1px solid #9FB578;
    margin: 10px;
   display: flex;
    position: relative;
    border-radius: 10px;
}

.plantCard img {
    width: 150px
}

.TitlePlantCard {
    display: flex;
    justify-content: space-between;

}

.TitlePlantCard > button {
    background-color: transparent;
    border: none;
}

.ButtonBookmark{
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
}

