    .Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    /* height: 745px; */
    /* border: 1px solid blue; */
}

p {
    margin: 0;
}

.Profile > img {
    width: 150px;
    margin-top: 10px;
}

.ProfileImg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #27AE60;

}

.ProfileData {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    /* border: 1px solid blue; */
}

.FollowsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
   
}

.FollowsDiv > p {
    margin: 0;
    font-weight: bold;

    color: #717374
}

.Profile > p {
    font-size: 24px;
    margin: 8px 0;

    color: #2F3134
}

.ButtonsProfile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.ButtonsProfile > button {
    background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;

}
.ButtonsProfile > button > i {
    font-size: 24px;
    color: #27AE60;

}

.ButtonsProfile button.active i {
    color: #50FA97;
  }

.MyPosts {

    height: 350px;
    overflow-y: scroll;
    width: 100%;
}

.BlockProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    height: 70%;
    
}

.Publications {
    border: 1px solid green
}

.Publications > div {
    /* border: 1px solid violet; */
    height: 250px
}

.ShowMyPosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 16px;
    /* border: 1px solid red; */
    /* max-height: 670px; */
    overflow-y: scroll;

    
}

.showMyPlants {    
    /* overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;   
    max-height: 670px;
    padding: 16px;
    width: 100%;
    border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 16px;
    /* border: 1px solid red; */
    /* max-height: 670px; */
    overflow-y: scroll;

}





.ShowMyPostsSaved {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 16px;
    border: 1px solid red;
    max-height: 670px;
    overflow-y: scroll;
    width: 100%
}