.Header {
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    height: 50px;
    border: 1px solid blue;
    width: 100%;
    padding: 8px;
    max-width: 1000px;
}


