
.PlantsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    /* max-height: 840px; */
    overflow-y: hidden;
    /* border: 1px solid blue; */

}

@media (min-width: 850px) {
    .PlantsList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-left: 50px;
        width: 100%;
        top: 0px;
        overflow-y: hidden;
    }

}

@media (min-width: 1060px) {
    .PlantsList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-left: 300px;
        width: 100%;
        top: 0px;
        overflow-y: hidden;
    }

    .allPlants {

        width: 100%;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 60px;
    }

    #divFiltersPlants {
        margin-top: 32px;
    }


}



.PlantsFilter {
    border: 1px solid #27AE60;
    position: relative;
    width: 90%;
    border-radius: 12px;
    padding: 8px 20px 15px 20px;
    margin-bottom: 16px;
}


.allPlants {
  
    /* border: 1px solid red; */

    
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    
}

.BottonFilterPlants {
    background-color: #27AE60;
    border: 1px solid #50FA97;
    border-radius: 8px;
    margin: 4px;
    color: white;
}

.InputStyle {
    margin-right: 10px;
    accent-color: #27AE60;
    
}

.scroll-to-top-button {
    position: fixed;
    bottom: 55px;
    right: 10px;
    background-color:#27AE60;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .scroll-to-top-button.visible {
    opacity: 1;
  }
  









