
.PlantsList {
    width: 100%;
    max-width: 1000px;
    background-color: lightblue;
}


.PlantsFilter {
    display: flex;
    border: 1px solid green;
    height: 60px;
}


.allPlants {
    height: 735px;
    width: 9;
    border: 1px solid red;
    background-color: aquamarine;
    overflow-y: scroll;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}






