
.PlantsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    /* max-height: 840px; */
    overflow-y: scroll;
    /* border: 1px solid blue; */

}


.PlantsFilter {
    border: 1px solid #27AE60;
    position: relative;
    width: 90%;
    border-radius: 12px;
    padding: 8px 20px 15px 20px;
    margin-bottom: 16px;
}


.allPlants {
  
    /* border: 1px solid red; */

    
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    
}

.BottonFilterPlants {
    background-color: #27AE60;
    border: 1px solid #50FA97;
    border-radius: 8px;
    margin: 4px;
    color: white;
}

.InputStyle {
    margin-right: 10px;
    accent-color: #27AE60;
    
}









