.MyPlantCard {
    width: 90%;
    height: 160px;
    border: 1px solid #27AE60;
    margin: 10px;
   display: flex;
    position: relative;
    border-radius: 10px;
}

@media (min-width: 830px) {
    .MyPlantCard {
        width: 250px;
        height: 250px;
    }
}

.PlantNamePost {
position: absolute;
background-color: white;
color: green;
font-size: 12px;
padding: 2px 4px;
max-width: 100px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
border-radius: 0 0px 4px 0;
}
