.MyPlantCard {
    width: 90%;
    height: 160px;
    border: 1px solid #27AE60;
    margin: 10px;
   display: flex;
    position: relative;
    border-radius: 10px;
}

@media (min-width: 830px) {
    .MyPlantCard {
        width: 250px;
        height: 250px;
    }
}
