.PostDetail {
    width: 100%;
    max-width: 1000px;
    /* border: 1px solid red; */
    /* background-color: lightblue; */
}

.HeaderPost {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.UserPost {
    display: flex;
}


.ImagesEditDetail {
    display: flex;
    /* border: 1px solid blue;
    background-color: lightblue; */
    align-items: center;
    padding: 8px;
}

.MultipleImages > img {
    width: 50px;
    height: 50px;
    margin: 5px;
    margin-left: 0;
}

.Comments {
    width: 100%;
    height:260px;
    /* background-color: lightpink; */
    overflow-y: scroll;
    padding: 8px;
   
}

.CommentBox {
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
}

.ButtonsComments {
    display: flex;
    flex-direction: column;
}

.ImgComment {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.TextBox {
    margin-left: 5px;
    /* border: 1px solid black; */
    width: 100%;
}

.TextComment {
    border: 1px solid lightgray;
    border-radius: 12px;
    overflow-y: scroll;

}

