.PostList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    max-height: 840px;
    overflow-y: scroll;
    /* border: 1px solid blue */
}

.allPosts {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
   padding: 8px 20px 8px 20px;
   align-items: center;
   /* border: 1px solid red; */
   max-height: 795px;
   overflow-y: scroll;
   ;
}


