h3 {
    font-family: 'Clicker Script', cursive;
}
.allPosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.PostList {
    width: 100%;
    max-width: 1000px;
    height: 600px;
}